video {
    position: relative;
    height: 480px;
    width: 852px;
}

.video-wrapper {
    position: relative;
}

#controls {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 0 0;
    bottom: 4px;
    color: white;
    display: block;
    height: 30px;
    left: 0;
    margin-left: 185px;
    opacity: 1;
    padding: 10px;
    position: absolute;
    width: 440px;
}
#controls i {
    color: white;
}

.btn-player {
    background-color: transparent;
    border: none;
    padding: 8px 12px;
}

#action {
    width: 35px;
}

.video-controls .progress-bar.inline {
    display: inline-block;
    width: 250px;
}

progress[value] {
    border: none;
    height: 18px;
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background: #eee;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-moz-progress-bar {
    background: #eee;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
    border-radius: 4px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
    position: relative;
}

progress[value]::-moz-progress-value {
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
    border-radius: 4px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
    position: relative;
}

#volume {
    cursor: default;
}

.volume-mark {
    background-color: white;
    display: inline-block;
    height: 10px;
    width: 4px;
}
.volume-mark:hover {
    cursor: pointer;
    height: 13px;
}

.volume-mark.active {
    background-color: #1e5799;
}
